  <div class="search"><h1>Update an existing excerpt</h1>  

  
  <form action="/user/excerpt/success">

<p>To find the excerpt you want to update, click the source first, then select the specific excerpt based on the first line:</p>
<form>
<p>Sources:</p>
<select name="source">
<p><% @excerpt_sources.each do |source| %>
  <option value="<%= "#{source}" %>"><%= "#{source}" %></option>
  <% end %></p>
</select>
<br><br>
<input type="submit" value="Submit">
<br><br>
</form> 
<!--EXCERPT MENU GOES HERE -->

<!--THE HAVE TEXT FORM WITH THE VALUES DEFAULTED TO THE ORIGINAL VALUES, AND THEY CAN JUST RETYPE WHAT THEY WANT TO CHANGE. -->


  
<!--BASICALLY GET ID, THEN SOMEHOW MOVE THAT TO BELOW AND HAVE THEM KEEP EDITING - ASK CRYSTAL ABOUT ONE FORM RESULTING IN A NOTHER APPEARING ON SAME PAGE. 

THEN HERE, DEPENDING ON WHICH ANSWER, HAVE FIRST XX CHARACTERS FROM THAT EXCERPT TEXT BE OPTIONS FOR SAME KIND OF FORM, EXCEPT SEND THE ID TO ROUTE HANDLER. SO ID IS THE OPTION VALUE, AND THE TEXT IS THE FIRST XX CHARACTERS OF EXCERPT. -->








<!-- <input type="hidden" name="action" value="update"> - goes in table that actually submits to save excerpt. -->









<!-- get "/change_resorts" do

 @state_list = []
 Resort.get_states.each { |a| @state_list << a["state"] }

 @path = request.path_info
 @state = params["state"]
 @username = params["username"]

 if params["surfeit"]
   @var_text = "Too many resorts selected.  Please select six or fewer."
 else
   @var_text = "Hello, #{@username}"
 end

 if @state
   @resort_list = Resort.where_attr("resorts","state",@state)
 end

 @user = User.where_name(@username)[0]
 @user.delete_user_resorts

 erb :"user_routes/select_resorts", :layout => :boilerplate

end










Crystal Cooling [12:00 PM]
<h3>Select State:</h3>

<form action="<%= @path %>" method="get">
   <select name="state">
   <% @state_list.each do |s| %>
     <option value= <%= s %> > <%= s %> </option>
   <% end %>
   </select>
   <input type="hidden" name="username" value="<%= @username %>">
   <% if params["surfeit"] %>
     <input type="hidden" name="surfeit" value="yes">
   <% elsif params["dearth"] %>
     <input type="hidden" name="dearth" value="yes">
   <% end %>
   <input type="submit" value="Submit">
</form>

<% if @state %>

 <h3 style>Select up to six resorts of interest:</h3>

 <form action="/display" method="get">

 <% @resort_list.each do |r| %>
   <input type="checkbox" name="<%= r.id %>" value = "r_id"><%=r.name %><br />
   <% end %>

   <input type="hidden" name="username" value=<%= params["username"] %>>
   <input type="hidden" name="state" value=<%= params["state"] %>>
     <br>
     <input type="submit" value="Submit">
     <br>
   </form>

   <hr>

 <form action="/" method="get">
   <input type="submit" value="Enter a different user name">
 </form>

<% end %> -->


  

  <strong>Excerpt text:</strong><br>
  (Maximum of 825 characters.)<br><br>
  <textarea cols="60" rows="8" maxlength="825" name="excerpt">
  </textarea>
  <br><br>
  <strong>Excerpt source:</strong><br>
    Choose from existing sources:<br><br>
     <select name="source">
       <% @excerpt_sources.each do |source| %>
         <option value="<%= "#{source}" %>"><%= "#{source}" %></option>
      <% end  %>
    </select><br><br>
    Or enter a new source:<br><br>
    <input type="text" name="source"><br><br>
  <strong>Author:</strong><br>
  (Note: If author is not listed below, you need to <a href="/user/person?action=new">create a person entry</a> for the author, first.)<br><br>
  <select name="person_id">
  <% @person_names_ids.each do |hash| %>
  <option value="<%= "#{hash["id"]}" %>"><%= "#{hash["person"]}" %></option>
  <% end  %>
  </select><br><br>
  <input type="submit" value="Submit">
  <br><br>
  </form>
  
  
  
  
  
    </div>
  <div class="bottomspacer"></div>
  <div class="bottomspacer"></div>
  
  
  
  
  
  </div>
<div class="bottomspacer"></div>