
<div class="excerpttext"><p>"<%= "#{@excerpt}" %>"</p>
<p><em>- <%= "#{@source}" %></em>, <%= "#{@person}" %><p>
<p>________________________________</p>
<span class="keywordtext">TAGS: <% @keywords.each do |keyword1| %>
  <a href="/keyword?keyword=<%= "#{keyword1}" %>"><%= "#{keyword1}" %></a><%= " | " %>  
<% end %>
</span> 
  
<p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A4567%2Fperson_example&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=275052925858908" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe></p></div>
<div class="bottomspacer"></div>




<!-- "<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F
<!-- domain.com goes here -->
<!-- %2F -->
<!-- page name goes here -->
<!-- &amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=275052925858908" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>" -->  
  