<!--would iterate through and find all examples and print them in a nice neat row. for now,  -->
<h1 class="keywordheader">Items tagged "<%= "#{@keyword}" %>"</h1><br><br>
<div class="keywordlist">

  <%  @results.each do |hash| %>
   <% if hash.keys[1] == "quote" %>
    <%  @quote = hash["quote"]%>
    <%  @quoter = hash["person_id"]%>
    <hr></hr><br>
    <p align="center"><strong>QUOTE</strong></p>
    <p>"<%= "#{@quote}" %>"</p>
    <p align="right"><em>- <%= "#{@quoter}" %></em><br></p>  
   
   <% elsif hash.keys[1] == "term"%>
   <%   @term = hash["term"]%>
   <%   @definition = hash["definition"]%>
   <%   @phonetic = hash["phonetic"]%>
   <hr></hr><br>
   <p align="center"><strong>TERM</strong></p>
  <p><strong><%= "#{@term}" %></strong><br>
   <em><%= "#{@phonetic}" %></em><br><br>
   <%= "#{@definition}" %><br></p>
  
   <% elsif hash.keys[1] == "excerpt"%>
     <% @excerpt = hash["excerpt"]%>
     <% @author = hash["person_id"]%>
     <% @book = hash["source"]%>   
     <hr></hr><br>
     <p align="center"><strong>EXCERPT</strong></p>
      <p>"<%= "#{@excerpt}" %>"</p>
      <p align="right">- <em><%= "#{@book}" %></em>, <%= "#{@author}" %><br></p>

   <% elsif hash.keys[1] == "person"%>
     <% @bio = hash["bio"]%>
     <% @name = hash["person"]%>
     <% @image = hash["image"]%>
     <% @source = hash["source"]%>
       <% if hash["state"] == ""%>
         <% @state = "" %>
       <% else  %>
          <% @state = "#{hash["state"]}, " %>
       <% end  %>
     <% @country = hash["country"]%>
     <% @caption = hash["caption"]%>
     <hr></hr><br>
     <p align="center"><strong>PERSON</strong></p>
     <p><strong><%= "#{@name}" %></strong><br><br>
      <a href="<%= "#{@image}" %>"><img src="<%= "#{@image}" %>" width="100px"></a><br><br>
      <strong>Birthplace:</strong> <%= "#{@state} #{@country}" %><br><br>
      <%= "#{@bio}" %></p>
      <p align="right">- <em><%= "#{@source}" %></em><br></p>
     
   <% end %>
 <% end %></div><p></p>



