




<table class="quotetable">
  <tbody>
    <tr>
      <td class="quoteleftquotationmark"><img src="/quotemarklw.jpg" width="50"></td>
      <td class="quotetext"><p align="justify"><%= "#{@quote}" %></p><p class="quoteperson">- <%= "#{@person}" %></p></td>
      <td class="quoterightquotationmark"><img src="/quotemarkrw.jpg" width="50"></td>
    </tr>
    <tr>
      <td></td>
      <td class="keywordtext"> <p>____________________________________</p>
        <p>TAGS: <% @keywords.each do |keyword1| %>
  <a href="/keyword?keyword=<%= "#{keyword1}" %>"><%= "#{keyword1}" %></a><%= " | " %>  
<% end %>
</p> 
     <p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A4567%2Fperson_example&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=275052925858908" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe></p></td>
      <td></td>
    </tr>
  </tbody>
</table> 

<div class="bottomspacer"></div>






<!-- "<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F
<!-- domain.com goes here -->
<!-- %2F -->
<!-- page name goes here -->
<!-- &amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=275052925858908" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>" -->  
  